*{
  margin: 0px;
  padding: 0px;
}

.photo {
  width: 300px;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  background-color: white;
  padding: 100px;

}
.banner-text {
  width: 40%;
}
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
font-size: 15px;
margin-top: 10px;
margin-bottom: 15px;
}
.btn{
  padding: 5px 20px;
  background-color: rgb(255, 0, 60);
  border: none;
  color: white;
}

.primary {
  border: none;
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.details {
  font-size: 14px;
  text-align: center;
  padding-bottom: 50px
}


.image-tree {
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-radius: 10%;
  padding-bottom: 150px;
}

.flower1 {
  width: 215px;
  background-color: pink;
}

.flower2 {
  width: 300px;
  background-color:aquamarine;
}

.flower3 {
  width: 200px;
  background-color:darkgray;
}

.support-image {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0px 100px 100px; 
}

.sign-section {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
}

.section-text{
  width: 400%;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}
.text-change{
  color: red;
}
.descrip {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.viewspot{
  width: 200px;
}

.ins {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.article {
  text-align: center;
  font-size: 15px;
  margin-bottom: 70px;
  margin-top: 10px;
}
.for-image{
  display: flex;
  justify-content: space-around;
  
}
.unique {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 25%; 
}

.one {
  
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}
.two {
 font-size: 15px;
 margin-top: 15px;
 margin-bottom: 32px;
}
.view {
  padding: 10px 20px 10px 
}

.box {
  height: 450px;
  width: 1800px;
  
}
.text-changing{
  color: red;
}