*{
  margin: 0px;
  padding: 0px;
}

.photo{
  width: 300px;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  border: 5px solid gray;
  align-items: center;
  background-color: white;
  padding: 100px;

}
.banner-text{
  width: 40%;
}
.title {
  font-size: 50px;
  font-weight: bold;
}

.description {
font-size: 15px;
margin-top: 10px;
margin-bottom: 15px;
}
.btn{
  padding: 5px 20px;
  background-color: rgb(255, 0, 60);
  border: none;
  color: white;
}

.primary{
  border: none;
  text-align: center;
  padding-top: 50px;
}
.details {
  font-size: 10px;
  text-align: center;
}
